{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://localhost/servion-php",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/isabellaERP/Baul/servion-php/",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.php",
          "mtimeMs": 1659400787520.282,
          "date": "2022-08-02T00:39:49.001Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1659399667592.5967,
          "date": "2022-08-02T00:36:43.033Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1659399667592.5967,
          "date": "2022-08-02T00:36:43.880Z"
        },
        {
          "file": "assets/css/main.css",
          "mtimeMs": 1659399667290.3296,
          "date": "2022-08-02T00:36:46.921Z"
        },
        {
          "file": "assets/css/main.css.map",
          "mtimeMs": 1659399667290.3296,
          "date": "2022-08-02T00:36:47.940Z"
        },
        {
          "file": "assets/css/theme-rtl.css",
          "mtimeMs": 1659399667294.3271,
          "date": "2022-08-02T00:36:49.436Z"
        },
        {
          "file": "assets/css/theme-rtl.css.map",
          "mtimeMs": 1659399667298.3247,
          "date": "2022-08-02T00:36:52.397Z"
        },
        {
          "file": "assets/css/theme-rtl.min.css",
          "mtimeMs": 1659399667300.3237,
          "date": "2022-08-02T00:36:53.899Z"
        },
        {
          "file": "assets/css/theme-rtl.min.css.map",
          "mtimeMs": 1659399667303.8718,
          "date": "2022-08-02T00:36:55.792Z"
        },
        {
          "file": "assets/css/theme.css",
          "mtimeMs": 1659399667306.8716,
          "date": "2022-08-02T00:36:57.216Z"
        },
        {
          "file": "assets/css/theme.css.map",
          "mtimeMs": 1659399667310.869,
          "date": "2022-08-02T00:36:58.864Z"
        },
        {
          "file": "assets/css/theme.min.css",
          "mtimeMs": 1659399667312.868,
          "date": "2022-08-02T00:37:00.321Z"
        },
        {
          "file": "assets/css/theme.min.css.map",
          "mtimeMs": 1659399667317.1135,
          "date": "2022-08-02T00:37:02.057Z"
        },
        {
          "file": "assets/img/logo.png",
          "mtimeMs": 1659399667346.5918,
          "date": "2022-08-02T00:37:03.415Z"
        },
        {
          "file": "assets/img/favicons/android-chrome-192x192.png",
          "mtimeMs": 1659399667319.168,
          "date": "2022-08-02T00:37:04.783Z"
        },
        {
          "file": "assets/img/favicons/android-chrome-512x512.png",
          "mtimeMs": 1659399667319.168,
          "date": "2022-08-02T00:37:06.053Z"
        },
        {
          "file": "assets/img/favicons/apple-touch-icon.png",
          "mtimeMs": 1659399667320.1948,
          "date": "2022-08-02T00:37:07.182Z"
        },
        {
          "file": "assets/img/favicons/browserconfig.xml",
          "mtimeMs": 1659399667321.1868,
          "date": "2022-08-02T00:37:08.331Z"
        },
        {
          "file": "assets/img/favicons/favicon-16x16.png",
          "mtimeMs": 1659399667321.1868,
          "date": "2022-08-02T00:37:09.479Z"
        },
        {
          "file": "assets/img/favicons/favicon-32x32.png",
          "mtimeMs": 1659399667322.1833,
          "date": "2022-08-02T00:37:10.652Z"
        },
        {
          "file": "assets/img/favicons/favicon.ico",
          "mtimeMs": 1659399667322.1833,
          "date": "2022-08-02T00:37:11.938Z"
        },
        {
          "file": "assets/img/favicons/manifest.json",
          "mtimeMs": 1659399667323.168,
          "date": "2022-08-02T00:37:13.146Z"
        },
        {
          "file": "assets/img/favicons/mstile-150x150.png",
          "mtimeMs": 1659399667324.1672,
          "date": "2022-08-02T00:37:14.448Z"
        },
        {
          "file": "assets/img/favicons/site.webmanifest",
          "mtimeMs": 1659399667324.1672,
          "date": "2022-08-02T00:37:15.671Z"
        },
        {
          "file": "assets/img/gallery/emily.png",
          "mtimeMs": 1659399667325.1672,
          "date": "2022-08-02T00:37:16.933Z"
        },
        {
          "file": "assets/img/gallery/express.png",
          "mtimeMs": 1659399667325.1672,
          "date": "2022-08-02T00:37:18.117Z"
        },
        {
          "file": "assets/img/gallery/facebook.png",
          "mtimeMs": 1659399667326.167,
          "date": "2022-08-02T00:37:19.239Z"
        },
        {
          "file": "assets/img/gallery/footer-bg.png",
          "mtimeMs": 1659399667326.167,
          "date": "2022-08-02T00:37:20.459Z"
        },
        {
          "file": "assets/img/gallery/hero-header.png",
          "mtimeMs": 1659399667327.1665,
          "date": "2022-08-02T00:37:21.586Z"
        },
        {
          "file": "assets/img/gallery/hero.png",
          "mtimeMs": 1659399667328.166,
          "date": "2022-08-02T00:37:22.880Z"
        },
        {
          "file": "assets/img/gallery/hubspot.png",
          "mtimeMs": 1659399667329.1829,
          "date": "2022-08-02T00:37:23.987Z"
        },
        {
          "file": "assets/img/gallery/instagram.png",
          "mtimeMs": 1659399667329.1829,
          "date": "2022-08-02T00:37:25.062Z"
        },
        {
          "file": "assets/img/gallery/join-us.png",
          "mtimeMs": 1659399667330.179,
          "date": "2022-08-02T00:37:26.380Z"
        },
        {
          "file": "assets/img/gallery/logo.png",
          "mtimeMs": 1659399667331.4092,
          "date": "2022-08-02T00:37:27.488Z"
        },
        {
          "file": "assets/img/gallery/mark.png",
          "mtimeMs": 1659399667331.4092,
          "date": "2022-08-02T00:37:28.563Z"
        },
        {
          "file": "assets/img/gallery/master-card.png",
          "mtimeMs": 1659399667332.4116,
          "date": "2022-08-02T00:37:29.672Z"
        },
        {
          "file": "assets/img/gallery/paypal.png",
          "mtimeMs": 1659399667332.4116,
          "date": "2022-08-02T00:37:30.792Z"
        },
        {
          "file": "assets/img/gallery/reddit.png",
          "mtimeMs": 1659399667333.6443,
          "date": "2022-08-02T00:37:31.917Z"
        },
        {
          "file": "assets/img/gallery/robinhood.png",
          "mtimeMs": 1659399667333.6443,
          "date": "2022-08-02T00:37:33.023Z"
        },
        {
          "file": "assets/img/gallery/testimonial-bg.png",
          "mtimeMs": 1659399667334.6462,
          "date": "2022-08-02T00:37:34.238Z"
        },
        {
          "file": "assets/img/gallery/tunein.png",
          "mtimeMs": 1659399667334.6462,
          "date": "2022-08-02T00:37:35.390Z"
        },
        {
          "file": "assets/img/gallery/twitter.png",
          "mtimeMs": 1659399667335.645,
          "date": "2022-08-02T00:37:36.492Z"
        },
        {
          "file": "assets/img/gallery/union-pay.png",
          "mtimeMs": 1659399667335.645,
          "date": "2022-08-02T00:37:37.587Z"
        },
        {
          "file": "assets/img/gallery/upcase.png",
          "mtimeMs": 1659399667336.6443,
          "date": "2022-08-02T00:37:38.732Z"
        },
        {
          "file": "assets/img/gallery/visa.png",
          "mtimeMs": 1659399667336.6443,
          "date": "2022-08-02T00:37:39.855Z"
        },
        {
          "file": "assets/img/gallery/youtube.png",
          "mtimeMs": 1659399667337.6443,
          "date": "2022-08-02T00:37:40.970Z"
        },
        {
          "file": "assets/img/icons/cloud-hosting.png",
          "mtimeMs": 1659399667337.6443,
          "date": "2022-08-02T00:37:42.133Z"
        },
        {
          "file": "assets/img/icons/clouds-1.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:43.242Z"
        },
        {
          "file": "assets/img/icons/give-a-care.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:44.363Z"
        },
        {
          "file": "assets/img/icons/launch.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:45.495Z"
        },
        {
          "file": "assets/img/icons/logos.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:46.576Z"
        },
        {
          "file": "assets/img/icons/rocket.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:47.741Z"
        },
        {
          "file": "assets/img/icons/security.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:48.869Z"
        },
        {
          "file": "assets/img/icons/servion.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:49.981Z"
        },
        {
          "file": "assets/img/icons/shared-hosting.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:51.078Z"
        },
        {
          "file": "assets/img/icons/tweak-as-you.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:52.160Z"
        },
        {
          "file": "assets/img/icons/vpn-hosting.png",
          "mtimeMs": 1659399667338.6433,
          "date": "2022-08-02T00:37:53.263Z"
        },
        {
          "file": "assets/img/icons/wp-hosting.png",
          "mtimeMs": 1659399667344.054,
          "date": "2022-08-02T00:37:54.366Z"
        },
        {
          "file": "assets/img/illustrations/hero-header.png",
          "mtimeMs": 1659399667345.068,
          "date": "2022-08-02T00:37:55.700Z"
        },
        {
          "file": "assets/js/antes.js",
          "mtimeMs": 1659399667346.5918,
          "date": "2022-08-02T00:37:56.731Z"
        },
        {
          "file": "assets/js/bootstrap-navbar.js",
          "mtimeMs": 1659399667347.5935,
          "date": "2022-08-02T00:37:57.829Z"
        },
        {
          "file": "assets/js/despues.js",
          "mtimeMs": 1659399667347.5935,
          "date": "2022-08-02T00:37:58.835Z"
        },
        {
          "file": "assets/js/exporta.js",
          "mtimeMs": 1659399667348.5925,
          "date": "2022-08-02T00:37:59.841Z"
        },
        {
          "file": "assets/js/importa.js",
          "mtimeMs": 1659399667348.5925,
          "date": "2022-08-02T00:38:00.938Z"
        },
        {
          "file": "assets/js/main.js",
          "mtimeMs": 1659399667349.5974,
          "date": "2022-08-02T00:38:02.001Z"
        },
        {
          "file": "assets/js/main.min.js",
          "mtimeMs": 1659399667350.4253,
          "date": "2022-08-02T00:38:03.082Z"
        },
        {
          "file": "assets/js/main.min.js.map",
          "mtimeMs": 1659399667350.4253,
          "date": "2022-08-02T00:38:04.133Z"
        },
        {
          "file": "assets/js/theme.js",
          "mtimeMs": 1659399667351.4265,
          "date": "2022-08-02T00:38:05.215Z"
        },
        {
          "file": "assets/js/theme.js.map",
          "mtimeMs": 1659399667351.4265,
          "date": "2022-08-02T00:38:06.384Z"
        },
        {
          "file": "assets/js/theme.min.js",
          "mtimeMs": 1659399667352.4258,
          "date": "2022-08-02T00:38:07.470Z"
        },
        {
          "file": "assets/js/theme.min.js.map",
          "mtimeMs": 1659399667352.4258,
          "date": "2022-08-02T00:38:08.669Z"
        },
        {
          "file": "assets/video/beach.jpg",
          "mtimeMs": 1659399667356.0342,
          "date": "2022-08-02T00:38:10.141Z"
        },
        {
          "file": "assets/video/beach.mp4",
          "mtimeMs": 1659399667392.0337,
          "date": "2022-08-02T00:38:16.734Z"
        },
        {
          "file": "assets/video/beach.webm",
          "mtimeMs": 1659399667452,
          "date": "2022-08-02T00:38:23.541Z"
        },
        {
          "file": "vendors/@popperjs/popper.min.js",
          "mtimeMs": 1659399667594.2993,
          "date": "2022-08-02T00:38:26.514Z"
        },
        {
          "file": "vendors/bootstrap/bootstrap.min.js",
          "mtimeMs": 1659399667596.2998,
          "date": "2022-08-02T00:38:27.713Z"
        },
        {
          "file": "vendors/bootstrap/bootstrap.min.js.map",
          "mtimeMs": 1659399667597.299,
          "date": "2022-08-02T00:38:29.157Z"
        },
        {
          "file": "vendors/feather-icons/feather.min.js",
          "mtimeMs": 1659399667598.2983,
          "date": "2022-08-02T00:38:30.372Z"
        },
        {
          "file": "vendors/fontawesome/all.min.js",
          "mtimeMs": 1659399667607.3066,
          "date": "2022-08-02T00:38:32.721Z"
        },
        {
          "file": "vendors/is/is.min.js",
          "mtimeMs": 1659399667608.2927,
          "date": "2022-08-02T00:38:33.679Z"
        },
        {
          "file": "assets/css/main-dist.css",
          "mtimeMs": 1659399667289.336,
          "date": "2022-08-02T00:36:44.905Z"
        },
        {
          "file": "assets/css/main-dist.css.map",
          "mtimeMs": 1659399667289.336,
          "date": "2022-08-02T00:36:45.916Z"
        },
        {
          "file": "documentos/github-git-cheat-sheet.pdf",
          "mtimeMs": 1659399667460.9897,
          "date": "2022-08-02T00:38:25.409Z"
        },
        {
          "file": "assets/ROG_wallpaper-Laputu_3840x2160.jpg",
          "mtimeMs": 1659401745376.637,
          "date": "2022-08-02T00:55:48.700Z"
        },
        {
          "file": "test.html",
          "mtimeMs": 1659403885357.9536,
          "date": "2022-08-02T01:31:26.772Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 60
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 60
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": true,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/ROG_wallpaper-Laputu_3840x2160.jpg",
        "config": {
          "originalSize": 3187403,
          "optimized": true
        }
      },
      {
        "file": "assets/css/main.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "assets/js/exporta.js",
        "config": {
          "autoCompile": true,
          "compileImported": true,
          "tasks": {
            "babel": {
              "enable": true
            },
            "bundle-js": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "assets/js/importa.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "assets/js/main.js",
        "config": {
          "autoCompile": true
        }
      }
    ]
  }
}
