{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://localhost/servion-php",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/isabellaERP/Baul/servion-php/",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.php",
          "mtimeMs": 1659478752957.5012,
          "date": "2022-08-02T22:19:15.473Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1659364352776.9304,
          "date": "2022-08-02T21:39:11.101Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1659364352777.9287,
          "date": "2022-08-02T21:39:12.124Z"
        },
        {
          "file": "assets/css/main.css",
          "mtimeMs": 1659369548382.6582,
          "date": "2022-08-02T21:39:18.852Z"
        },
        {
          "file": "assets/css/main.css.map",
          "mtimeMs": 1659369548383.6533,
          "date": "2022-08-02T21:39:20.192Z"
        },
        {
          "file": "assets/css/theme-rtl.css",
          "mtimeMs": 1659364352539.126,
          "date": "2022-08-02T21:39:22.345Z"
        },
        {
          "file": "assets/css/theme-rtl.css.map",
          "mtimeMs": 1659364352543.115,
          "date": "2022-08-02T21:39:25.087Z"
        },
        {
          "file": "assets/css/theme-rtl.min.css",
          "mtimeMs": 1659364352545.1091,
          "date": "2022-08-02T21:39:27.148Z"
        },
        {
          "file": "assets/css/theme-rtl.min.css.map",
          "mtimeMs": 1659364352548.101,
          "date": "2022-08-02T21:39:29.579Z"
        },
        {
          "file": "assets/css/theme.css",
          "mtimeMs": 1659364352551.0933,
          "date": "2022-08-02T21:39:31.643Z"
        },
        {
          "file": "assets/css/theme.css.map",
          "mtimeMs": 1659364352555.1235,
          "date": "2022-08-02T21:39:34.397Z"
        },
        {
          "file": "assets/css/theme.min.css",
          "mtimeMs": 1659364352557.12,
          "date": "2022-08-02T21:39:36.316Z"
        },
        {
          "file": "assets/css/theme.min.css.map",
          "mtimeMs": 1659364352560.1118,
          "date": "2022-08-02T21:39:38.774Z"
        },
        {
          "file": "assets/img/logo.png",
          "mtimeMs": 1659364352579.6804,
          "date": "2022-08-02T21:39:40.030Z"
        },
        {
          "file": "assets/img/favicons/android-chrome-192x192.png",
          "mtimeMs": 1659364352561.1094,
          "date": "2022-08-02T21:39:41.397Z"
        },
        {
          "file": "assets/img/favicons/android-chrome-512x512.png",
          "mtimeMs": 1659364352562.107,
          "date": "2022-08-02T21:39:42.907Z"
        },
        {
          "file": "assets/img/favicons/apple-touch-icon.png",
          "mtimeMs": 1659364352563.1042,
          "date": "2022-08-02T21:39:44.261Z"
        },
        {
          "file": "assets/img/favicons/browserconfig.xml",
          "mtimeMs": 1659364352563.1042,
          "date": "2022-08-02T21:39:45.623Z"
        },
        {
          "file": "assets/img/favicons/favicon-16x16.png",
          "mtimeMs": 1659364352563.1042,
          "date": "2022-08-02T21:39:46.993Z"
        },
        {
          "file": "assets/img/favicons/favicon-32x32.png",
          "mtimeMs": 1659364352563.1042,
          "date": "2022-08-02T21:39:48.358Z"
        },
        {
          "file": "assets/img/favicons/favicon.ico",
          "mtimeMs": 1659364352564.102,
          "date": "2022-08-02T21:39:49.777Z"
        },
        {
          "file": "assets/img/favicons/manifest.json",
          "mtimeMs": 1659364352564.102,
          "date": "2022-08-02T21:39:51.166Z"
        },
        {
          "file": "assets/img/favicons/mstile-150x150.png",
          "mtimeMs": 1659364352565.0996,
          "date": "2022-08-02T21:39:52.518Z"
        },
        {
          "file": "assets/img/favicons/site.webmanifest",
          "mtimeMs": 1659364352565.0996,
          "date": "2022-08-02T21:39:53.874Z"
        },
        {
          "file": "assets/img/gallery/emily.png",
          "mtimeMs": 1659364352566.098,
          "date": "2022-08-02T21:39:55.251Z"
        },
        {
          "file": "assets/img/gallery/express.png",
          "mtimeMs": 1659364352566.098,
          "date": "2022-08-02T21:39:56.621Z"
        },
        {
          "file": "assets/img/gallery/facebook.png",
          "mtimeMs": 1659364352566.098,
          "date": "2022-08-02T21:39:57.977Z"
        },
        {
          "file": "assets/img/gallery/footer-bg.png",
          "mtimeMs": 1659364352567.0957,
          "date": "2022-08-02T21:39:59.367Z"
        },
        {
          "file": "assets/img/gallery/hero-header.png",
          "mtimeMs": 1659364352567.0957,
          "date": "2022-08-02T21:40:00.740Z"
        },
        {
          "file": "assets/img/gallery/hero.png",
          "mtimeMs": 1659364352568.0918,
          "date": "2022-08-02T21:40:02.441Z"
        },
        {
          "file": "assets/img/gallery/hubspot.png",
          "mtimeMs": 1659364352569.0886,
          "date": "2022-08-02T21:40:03.794Z"
        },
        {
          "file": "assets/img/gallery/instagram.png",
          "mtimeMs": 1659364352569.0886,
          "date": "2022-08-02T21:40:05.157Z"
        },
        {
          "file": "assets/img/gallery/join-us.png",
          "mtimeMs": 1659364352570.0857,
          "date": "2022-08-02T21:40:06.752Z"
        },
        {
          "file": "assets/img/gallery/logo.png",
          "mtimeMs": 1659364352570.0857,
          "date": "2022-08-02T21:40:08.127Z"
        },
        {
          "file": "assets/img/gallery/mark.png",
          "mtimeMs": 1659364352570.0857,
          "date": "2022-08-02T21:40:09.490Z"
        },
        {
          "file": "assets/img/gallery/master-card.png",
          "mtimeMs": 1659364352571.083,
          "date": "2022-08-02T21:40:10.841Z"
        },
        {
          "file": "assets/img/gallery/paypal.png",
          "mtimeMs": 1659364352571.083,
          "date": "2022-08-02T21:40:12.190Z"
        },
        {
          "file": "assets/img/gallery/reddit.png",
          "mtimeMs": 1659364352571.083,
          "date": "2022-08-02T21:40:13.527Z"
        },
        {
          "file": "assets/img/gallery/robinhood.png",
          "mtimeMs": 1659364352572.0803,
          "date": "2022-08-02T21:40:14.887Z"
        },
        {
          "file": "assets/img/gallery/testimonial-bg.png",
          "mtimeMs": 1659364352572.697,
          "date": "2022-08-02T21:40:16.401Z"
        },
        {
          "file": "assets/img/gallery/tunein.png",
          "mtimeMs": 1659364352572.697,
          "date": "2022-08-02T21:40:17.740Z"
        },
        {
          "file": "assets/img/gallery/twitter.png",
          "mtimeMs": 1659364352572.697,
          "date": "2022-08-02T21:40:19.078Z"
        },
        {
          "file": "assets/img/gallery/union-pay.png",
          "mtimeMs": 1659364352572.697,
          "date": "2022-08-02T21:40:20.427Z"
        },
        {
          "file": "assets/img/gallery/upcase.png",
          "mtimeMs": 1659364352573.6968,
          "date": "2022-08-02T21:40:21.776Z"
        },
        {
          "file": "assets/img/gallery/visa.png",
          "mtimeMs": 1659364352573.6968,
          "date": "2022-08-02T21:40:23.135Z"
        },
        {
          "file": "assets/img/gallery/youtube.png",
          "mtimeMs": 1659364352573.6968,
          "date": "2022-08-02T21:40:24.465Z"
        },
        {
          "file": "assets/img/icons/cloud-hosting.png",
          "mtimeMs": 1659364352574.694,
          "date": "2022-08-02T21:40:25.821Z"
        },
        {
          "file": "assets/img/icons/clouds-1.png",
          "mtimeMs": 1659364352574.694,
          "date": "2022-08-02T21:40:27.150Z"
        },
        {
          "file": "assets/img/icons/give-a-care.png",
          "mtimeMs": 1659364352575.6914,
          "date": "2022-08-02T21:40:28.499Z"
        },
        {
          "file": "assets/img/icons/launch.png",
          "mtimeMs": 1659364352575.6914,
          "date": "2022-08-02T21:40:29.852Z"
        },
        {
          "file": "assets/img/icons/logos.png",
          "mtimeMs": 1659364352575.6914,
          "date": "2022-08-02T21:40:31.234Z"
        },
        {
          "file": "assets/img/icons/rocket.png",
          "mtimeMs": 1659364352576.6885,
          "date": "2022-08-02T21:40:32.600Z"
        },
        {
          "file": "assets/img/icons/security.png",
          "mtimeMs": 1659364352576.6885,
          "date": "2022-08-02T21:40:33.945Z"
        },
        {
          "file": "assets/img/icons/servion.png",
          "mtimeMs": 1659364352576.6885,
          "date": "2022-08-02T21:40:35.289Z"
        },
        {
          "file": "assets/img/icons/shared-hosting.png",
          "mtimeMs": 1659364352577.688,
          "date": "2022-08-02T21:40:36.643Z"
        },
        {
          "file": "assets/img/icons/tweak-as-you.png",
          "mtimeMs": 1659364352577.688,
          "date": "2022-08-02T21:40:38.018Z"
        },
        {
          "file": "assets/img/icons/vpn-hosting.png",
          "mtimeMs": 1659364352577.688,
          "date": "2022-08-02T21:40:39.410Z"
        },
        {
          "file": "assets/img/icons/wp-hosting.png",
          "mtimeMs": 1659364352578.684,
          "date": "2022-08-02T21:40:40.766Z"
        },
        {
          "file": "assets/img/illustrations/hero-header.png",
          "mtimeMs": 1659364352579.6804,
          "date": "2022-08-02T21:40:42.438Z"
        },
        {
          "file": "assets/js/antes.js",
          "mtimeMs": 1659364352580.678,
          "date": "2022-08-02T21:40:43.733Z"
        },
        {
          "file": "assets/js/bootstrap-navbar.js",
          "mtimeMs": 1659364352580.678,
          "date": "2022-08-02T21:40:44.989Z"
        },
        {
          "file": "assets/js/despues.js",
          "mtimeMs": 1659364352580.678,
          "date": "2022-08-02T21:40:46.234Z"
        },
        {
          "file": "assets/js/exporta.js",
          "mtimeMs": 1659364352581.6758,
          "date": "2022-08-02T21:40:47.470Z"
        },
        {
          "file": "assets/js/importa.js",
          "mtimeMs": 1659364352581.6758,
          "date": "2022-08-02T21:40:48.716Z"
        },
        {
          "file": "assets/js/main.js",
          "mtimeMs": 1659364352582.6729,
          "date": "2022-08-02T21:40:49.965Z"
        },
        {
          "file": "assets/js/main.min.js",
          "mtimeMs": 1659364352582.6729,
          "date": "2022-08-02T21:40:51.235Z"
        },
        {
          "file": "assets/js/main.min.js.map",
          "mtimeMs": 1659364352582.6729,
          "date": "2022-08-02T21:40:52.493Z"
        },
        {
          "file": "assets/js/theme.js",
          "mtimeMs": 1659364352583.6707,
          "date": "2022-08-02T21:40:53.750Z"
        },
        {
          "file": "assets/js/theme.js.map",
          "mtimeMs": 1659364352583.6707,
          "date": "2022-08-02T21:40:55.128Z"
        },
        {
          "file": "assets/js/theme.min.js",
          "mtimeMs": 1659364352584.6682,
          "date": "2022-08-02T21:40:56.419Z"
        },
        {
          "file": "assets/js/theme.min.js.map",
          "mtimeMs": 1659364352584.6682,
          "date": "2022-08-02T21:40:57.762Z"
        },
        {
          "file": "assets/video/beach.jpg",
          "mtimeMs": 1659364352587.6594,
          "date": "2022-08-02T21:40:59.668Z"
        },
        {
          "file": "assets/video/beach.mp4",
          "mtimeMs": 1659364352625.5908,
          "date": "2022-08-02T21:41:16.302Z"
        },
        {
          "file": "assets/video/beach.webm",
          "mtimeMs": 1659364352690.3845,
          "date": "2022-08-02T21:41:32.315Z"
        },
        {
          "file": "vendors/@popperjs/popper.min.js",
          "mtimeMs": 1659364352778.9253,
          "date": "2022-08-02T21:41:37.035Z"
        },
        {
          "file": "vendors/bootstrap/bootstrap.min.js",
          "mtimeMs": 1659364352779.9607,
          "date": "2022-08-02T21:41:38.521Z"
        },
        {
          "file": "vendors/bootstrap/bootstrap.min.js.map",
          "mtimeMs": 1659364352780.9614,
          "date": "2022-08-02T21:41:40.297Z"
        },
        {
          "file": "vendors/feather-icons/feather.min.js",
          "mtimeMs": 1659364352781.9585,
          "date": "2022-08-02T21:41:41.931Z"
        },
        {
          "file": "vendors/fontawesome/all.min.js",
          "mtimeMs": 1659364352789.9358,
          "date": "2022-08-02T21:41:45.303Z"
        },
        {
          "file": "vendors/is/is.min.js",
          "mtimeMs": 1659364352790.9333,
          "date": "2022-08-02T21:41:46.594Z"
        },
        {
          "file": "assets/css/main-dist.css",
          "mtimeMs": 1659369548935.2256,
          "date": "2022-08-02T21:39:16.319Z"
        },
        {
          "file": "assets/css/main-dist.css.map",
          "mtimeMs": 1659369548936.224,
          "date": "2022-08-02T21:39:17.581Z"
        },
        {
          "file": "documentos/github-git-cheat-sheet.pdf",
          "mtimeMs": 1659369547765.347,
          "date": "2022-08-02T21:41:35.622Z"
        },
        {
          "file": "assets/ROG_wallpaper-Laputu_3840x2160.jpg",
          "mtimeMs": 1659453890102.296,
          "date": "2022-08-02T21:39:14.965Z"
        },
        {
          "file": "test.html",
          "mtimeMs": 1659453890105.3062,
          "date": "2022-08-02T21:39:13.121Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1659453890084.1443,
          "date": "2022-08-02T21:39:08.668Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 60
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 60
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": true,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/ROG_wallpaper-Laputu_3840x2160.jpg",
        "config": {
          "originalSize": 3187403,
          "optimized": true
        }
      },
      {
        "file": "assets/css/main.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "assets/js/exporta.js",
        "config": {
          "autoCompile": true,
          "compileImported": true,
          "tasks": {
            "babel": {
              "enable": true
            },
            "bundle-js": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "assets/js/importa.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "assets/js/main.js",
        "config": {
          "autoCompile": true
        }
      }
    ]
  }
}
